.App {
  background-color: white;
  text-align: center;
  /* border: 2px solid red; */
  font-family:'Times New Roman', Times, serif;
  font-size: larger;
  height: 100%;
  width: 100%;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.final-score{
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: x-large;
  margin-top: 200px;
  font-weight: 700;
}
